*{
    margin: 10px 5px 5px 5px;
}

body {
    background-color: #E2EFDE;

}

.container{
    margin: 5px 5px 5px 5px;
}


.Header{
    display: grid;
    position:sticky;
    top: 0;
    margin-bottom: 25px;
    grid-template-columns: 1fr 3fr 1fr;
    align-items: center;
    text-align: center;
    background-color:#afd0bf;
    border: 1px double #808f87;
    border-radius: 10px;
    z-index: 10000;
    box-shadow: 0px 2px 16px 0px rgba(0,0,0,0.2);
}
.Header--item-center{
    color: f4b266;
    grid-column: 2;
    grid-row: 1;
}
.Header-cart{
    background-color: #afd0bf;
    border: none;
    cursor: pointer;
    padding: 10px;
    position: relative;
    display: inline-block;
}
.Header-cart-icon:hover{
    color:   #808f87;;
}

.cartIcon {
    color: #000000;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #E2EFDE;
    border: 1px solid #afd0bf;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    left: 0;
    right: 0;
    min-width: 600px;
}
.dropdown-content-product {
    min-width: 100%;
    text-align: center;
}
.dropdown-content-product a{
    text-decoration: none;
    font-size: 12px;
    text-align: justify;
    text-transform: uppercase;
    color: #000000;
}
.dropdown-content-product:hover{
    background-color: #808f87;
}
.Header-cart:hover .dropdown-content {
    display: block;
}

.Products{
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(1, 2fr);
    text-align: center;
    justify-items: center;
}

.product{
    border: 3px solid #ffffff;
    padding: 1rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    font-size: 2rem;
}
.product h3{
    font-size: 2rem;
}

.imgProduct {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.box-info{
    display: flex;
    font-size: 1rem;
    align-items: flex-end;
}


.buttom{
    padding: 10px 20px 10px;
    height: 6rem;
    width: 6rem;
    background-color:#f4b266;
    border-color: #9b7e46;
    border-width: 3px;
    border-style: solid;
    border-radius: 20px;
    font-size: 20px;
    font-weight: 600;
}

.alert {
    padding: 20px;
    text-align: center;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
  }
  
  /* The close button */
  .closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  /* When moving the mouse over the close button */
  .closebtn:hover {
    color: black;
  }

.buttom-product{
        appearance: auto;
        text-rendering: auto;
        color: -internal-light-dark(black, white);
        text-align: center;
        align-items: flex-start;
        cursor: pointer;
        box-sizing: border-box;
        background-color: #f4b266;
        margin: 0em;
        padding: 1px 6px;
        border-width: 2px;
}

.price-total{
    font-weight: 600;
    text-align: left;
    color: #9b7e46;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }