*{
    margin: 10px 10px 10px 10px;
}

body {
    margin: 0;
    padding: 0;
    background: whitesmoke;
}

.container{
    margin: 5px 5px 5px 5px;
}

.Header{
    margin-bottom: 50px;
    text-align: center;
    justify-content: center;
    color: royalblue;
}

.Products{
    text-align: center;
    align-items: center;
    display: grid;
    grid-gap: 30px 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center; 
}

img{
    height: auto;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.15);
}

.bottom{

    padding-top:15px;
    padding-bottom:15px;
    padding-left:40px;
    padding-right:40px;
    background-color:#f2595e;
    border-color: #F69DA1;
    border-width: 3px;
    border-style: solid;
}

a{
    text-decoration:none;
    font-weight: 600;
    font-size: 20px;
    color:#ffffff;
}

.descripcion{
    font-size: 10px;
}